<h1>Create a new shortened URL</h1>

<form action="/links" method="post">
  <label for="url">URL:</label>
  <input type="url" name="url" placeholder="https://loooong-url.com">
  <input type="submit" value="Shorten">
</form>
